.o_reconciliation {
    .o_reconciliation_line{
        .line_info_edit {
            text-align: right;
            width: 15px;
            color: #ccc;
            background: #fff;
            border: 0;
        }
        .do_partial_reconcile_true {
            display: none!important;
        }
        .do_partial_reconcile_false {
            display: none!important;
        }
        .strike_amount {
            text-decoration: line-through;
        }
    }
    .o_reconciliation_line .match{
        .line_info_edit {
            display: none!important;
        }
    }
}
